<a href="https://colab.research.google.com/github/Rohit-1311/DataScienceS3/blob/main/Rohit_StudentCopy_CO1_Programs_to_handle_data_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1. Write a python program to implement List-to-Series Conversion
import pandas as pd
li=['Rohit','Jissmon','Adarsh','Vishnu','Glodin','Devadathan']
s=pd.Series(li)
print(s)

0         Rohit
1       Jissmon
2        Adarsh
3        Vishnu
4        Glodin
5    Devadathan
dtype: object

In [4]:
#2. Write a python program to Generate the series of dates from 1st September, 2023 to 25th September, 2023 (both inclusive).
import pandas as pd
series = pd.Series(pd.date_range('2023-09-01','2023-09-25',freq='D'))
print(series)

0    2023-09-01
1    2023-09-02
2    2023-09-03
3    2023-09-04
4    2023-09-05
5    2023-09-06
6    2023-09-07
7    2023-09-08
8    2023-09-09
9    2023-09-10
10   2023-09-11
11   2023-09-12
12   2023-09-13
13   2023-09-14
14   2023-09-15
15   2023-09-16
16   2023-09-17
17   2023-09-18
18   2023-09-19
19   2023-09-20
20   2023-09-21
21   2023-09-22
22   2023-09-23
23   2023-09-24
24   2023-09-25
dtype: datetime64[ns]

In [5]:
"""
3. Given a dictionary, convert it into corresponding dataframe and display it.

"""
import pandas as pd

details = { "Name":['Rohit','Jissmon','Adarsh','Vishnu','Glodin','Devadathan'],
           "Age":[22,23,24,25,26,27]
}
df = pd.DataFrame(details)
print(df)

         Name  Age
0       Rohit   22
1     Jissmon   23
2      Adarsh   24
3      Vishnu   25
4      Glodin   26
5  Devadathan   27

In [7]:
"""
4. Given a dataframe, select first 2 rows and output them.

"""
import pandas as pd
details = { "Name":['Rohit','Jissmon','Adarsh','Vishnu','Glodin','Devadathan'],
           "Age":[22,23,24,25,26,27] }
df=pd.DataFrame(details)
df[:2]

         Name  Age
0       Rohit   22
1     Jissmon   23
2      Adarsh   24
3      Vishnu   25
4      Glodin   26
5  Devadathan   27

      Name  Age
0    Rohit   22
1  Jissmon   23

In [12]:
# 5. Given is a dataframe showing name, occupation,salary of people. Find the average salary per occupation.
import pandas as pd
details = { "Name":['Rohit','Jissmon','Adarsh','Vishnu','Glodin','Dev'],
           "Occupation":['Manager','Manager','Programmer','Programmer','Analyst','Analyst'],
            "Salary" : [20000,25000,28000,27000,30000,35000]
            }

df = pd.DataFrame(details)
print(df)
o_avg_age = df.groupby('Occupation')['Salary'].mean()
print("\nThe average salary per occupation is: ")
print(o_avg_age)

      Name  Occupation  Salary
0    Rohit     Manager   20000
1  Jissmon     Manager   25000
2   Adarsh  Programmer   28000
3   Vishnu  Programmer   27000
4   Glodin     Analyst   30000
5      Dev     Analyst   35000

The average salary per occupation is:
Occupation
Analyst       32500.0
Manager       22500.0
Programmer    27500.0
Name: Salary, dtype: float64